# misc metadata, mostly grunt and typescript stuff
.DS_STORE
.tscache
.baseDir.js
*.js.map

# grunt and its dependencies
node_modules

# ignore compiled js (names hardcoded for now; TODO set grunt up better)
/js/viewer.js
/js/content.js